*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --background-color: #110e13;
}
html {
  background-color: black;
}

#app {
  text-align: center;
  margin-top: 60px;
  background-color: black;
}

header {
  background-color: black;
}

.hero {
  background-color: #febe10;
  border-radius: 3em;
}
.resultsSection {
  margin-top: 3em;
  background: #24282f;
  grid-gap: 2em;
  padding: 5em;
  display: grid;
  grid-area: auto;
  color: #fff;
  border-radius: 8em;
  align-items: center;
  justify-content: center;
  max-width: 20em;
}

main {
  background-color: #ffd700;
  display: grid;
  align-items: center;
  justify-content: center;
}
